<div>
    <table class="striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Curso</th>
                <th>Asignaturas</th>
                <th>Detalles</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in students">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.grade}}</td>
                <td>
                    <div class="chip" ng-repeat="sub in s.subjets">
                        {{sub.name}}
                    </div>
                </td>
                <td class="td-action">
                    <a href="#/details/{{s.id}}" class="btn-action">🔍</button>
                </td>
                <td class="td-action">
                    <a href="#/edit/{{s.id}}" class="btn-action">✏️</button>
                </td>
                <td class="td-action">
                    <a class="btn-action" ng-click="deleteStudent(s.id)">🗑️</button>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a class="waves-effect waves-light btn" href="#/addStudent">Añadir Alumno</a>
</div>