<div>
    <table class="striped">
        <thead>
            <tr>
                <th>ID</th>
                <th translate="TEXT_NOMBRE">Nombre</th>
                <th translate="TEXT_CURSO">Curso</th>
                <th translate="TEXT_ASIGNATURAS">Asignaturas</th>
                <th translate="TEXT_DETALLES">Detalles</th>
                <th translate="TEXT_EDITAR">Editar</th>
                <th translate="TEXT_ELIMINAR">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in students">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.grade}}</td>
                <td>
                    <div class="chip" ng-repeat="sub in s.subjets">
                        {{sub.name}}
                    </div>
                </td>
                <td class="td-action">
                    <a href="#/details/{{s.id}}" class="btn-action">🔍</button>
                </td>
                <td class="td-action">
                    <a href="#/edit/{{s.id}}" class="btn-action">✏️</button>
                </td>
                <td class="td-action">
                    <a class="btn-action" ng-click="deleteStudent(s.id)">🗑️</button>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a class="waves-effect waves-light btn" href="#/addStudent" translate="TEXT_ADD_ALUMNO">Añadir Alumno</a>
    <button class="waves-effect waves-light btn amber lighten-2" ng-click="changeLang('es')" translate="BTN_ES">ES</button>    
    <button class="waves-effect waves-light btn green lighten-2" ng-click="changeLang('en')" translate="BTN_EN">EN</button>    
</div>